.form {
    display: flex;
    justify-content: center;
    width: 60vw;
    input {
        width: 100%;
        padding: 0.35rem 0;
        border: 0.1rem solid #91d6e4;
        font-size: 90%;
    }

    button {
        border: none;
        cursor: pointer;
        padding-left: 1rem;
        background: none;
    }

    .calendar{
        display: none;
        max-width: 11rem;
        text-align: center;
    }
}