.tarefas {
    margin: 1vw 0;
    
    .listTarefas{
        display: flex;
        transition: all 300ms;
        text-align: right;
        margin: 0 8.5vw 0 7.5vw;
        text-align: left;
        align-items: center;
        justify-content: space-between;
    }

    li {
        list-style-type: none;
        margin: 1.5vw 0;
        width: 80%;

    }

    .listTarefas:hover {
        background: rgb(220, 238, 240);
    }
    

    .edit {
        margin: 0 1vw;
        color: blueviolet;
        cursor: pointer;
    }

    .delete {
        color:crimson;
        cursor: pointer;
    }

}