.tarefas {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    text-align: justify;
    font-size: 90%;
    padding-top: 1rem;
    .listTarefas{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding: 1vh 0;
        transition: all 300ms;
    }

    .listTarefas:hover {
        background: rgb(220, 238, 240);
    }

    label{
        max-width: 70%;
    }

    .button{
        margin-left: 0.5rem;
        cursor: pointer;
    }
    .edit {
        color: blueviolet;
    }

    .delete {
        color:crimson;
    }

    .check{
        color: goldenrod;
    }

}