.tarefas {
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: justify;
    font-size: 1.4rem;
    padding-top: 1rem;
    overflow-y: auto;
    .listTarefas{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding: 1vh 0;
        border-bottom: 0.1rem solid rgb(206, 206, 206);
        transition: all 300ms;
    }

    .check-task{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    #taskDate{
        width: 6.4rem;
        margin-left: 2rem;
    }
    .date-buttons{
        display: flex;
    }
    .listTarefas:hover {
        background: rgb(220, 238, 240);
    }

    .buttons{
        width: 6rem;
    }

    .button{
        cursor: pointer;
        color: rgb(180, 174, 174); 
    }
    .edit {
        margin-left: 1.6rem;
        color: blueviolet;
    }

    .delete {
        margin-left: 1.6rem;
        color:crimson;
    }

    .tarefa-check {
        text-decoration: line-through;
    }
    
    .button-check{
        color: rgb(20, 212, 20);
    }

    @media (max-width: 850px) {
        .date-buttons{
            flex-direction: column;
            padding-left: 1rem;
        }
        #taskDate{
            margin-left: 0;
        }

    }

    @media (max-width: 550px) {
        .listTarefas{
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }

        .date-buttons{
            display: flex;
            align-self: center;
        }
    }
}